@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.forgot-password-reset-password-page {
    background-color: #E6E6FA;
    height: 85vh;
    display: flex;
}

.forgot-password-reset-password-page .reset-password-component {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-reset-password-page .reset-password-component .inner-reset-password-component {
    padding: 5%;
    width: 80%;
    height: 90%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1), 0 2px 30px rgba(0, 0, 0, 0.1);
    padding-top: 10%;
}

.forgot-password-reset-password-page .reset-password-component .inner-reset-password-component .reset-password-text {
    font-size: 200%;
    font-family: 'ABeeZee', sans-serif;
    color: #F25019;
    margin-bottom: 10%;
}

.forgot-password-reset-password-page .reset-password-component .inner-reset-password-component .reset-password-form {
    display: flex;
    flex-direction: column;
}

.forgot-password-reset-password-page .reset-password-component .inner-reset-password-component .reset-password-form .label-password {
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.forgot-password-reset-password-page .reset-password-component .inner-reset-password-component .reset-password-form .label-password .password-input {
    margin-top: 10px;
    border-style: none;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
}

.forgot-password-reset-password-page .reset-password-component .inner-reset-password-component .reset-password-form .label-password .password-input::placeholder {
    color: #BCBEC0;
    position: relative;
    font-family: 'Questrial', sans-serif;
}

.forgot-password-reset-password-page .reset-password-component .inner-reset-password-component .reset-password-form .submit-button {
    margin-top: 10%;
    background-color: #F25019;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 150%;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.forgot-password-reset-password-page .picture-component {
    width: 50%;
    display: flex;
}

.forgot-password-reset-password-page .picture-component .character-image {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.forgot-password-reset-password-page .picture-component .cactus-image {
    height: 70%;
    width: 80%;
    position: relative;
    right: 21%;
    top: 10%;
}