@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.navbar-component {
  background-color: #e6e6fa;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.navbar-header {
  display: flex;
  background-color: #e6e6fa;
  height: 15vh;
  padding: 1.8%;
  gap: 10%;
  align-items: center;
  animation: slideIn 1s ease-out;
}


.navbar-header .navbar-company-logo {
  margin-left: 5%;
  cursor: pointer;
}

.navbar-header .navbar-company-logo .company-logo-picture {
  height: 150%;
  width: 100%;
}

.navbar-header .navbar-content {
  display: flex;
  gap: 40px;
  text-decoration: none;
  margin-left: 5%;
}

.navbar-header .navbar-content .navbar-element {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 130%;
}

.navbar-header .navbar-login-button-container {
  position: relative;
  left: 8%;
}

.navbar-header .navbar-login-button-container .login-button {
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-size: 20px;
  border-radius: 35px;
}

.navbar-header .navbar-login-button-container .login-button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-color: darkviolet;
  left: 0;
  top: 0;
  border-radius: 35px;
}

.navbar-header .navbar-login-button-container .login-button::before {
  content: "";
  background: linear-gradient(45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 35px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.navbar-header .navbar-login-button-container .login-button:hover::before {
  opacity: 1;
}

.navbar-header .navbar-login-button-container .login-button:active:after {
  background: transparent;
}

.navbar-header .navbar-login-button-container .login-button:active {
  color: #000;
  font-weight: bold;
}