@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.navbar-header {
  display: flex;
  background-color: #e6e6fa;
  height: 15vh;
  padding: 1.8%;
  gap: 10%;
  align-items: center;
}

.navbar-header .navbar-company-logo {
  margin-left: 5%;
  cursor: pointer;
}

.navbar-header .navbar-company-logo .company-logo-picture {
  height: 150%;
  width: 100%;
}

.navbar-header .nav-content {
  display: flex;
  gap: 40px;
  text-decoration: none;
  margin-left: 5%;
}

.navbar-header .nav-content .nav-a {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 130%;
}

.navbar-header .nav-button {
  position: relative;
  left: 8%;
}

.navbar-header .nav-login {
  color: aliceblue;
  background-color: darkviolet;
  border-color: white;
  border: solid;
  font-size: 20px;
  padding: 10px 34px 10px 34px;
  border-radius: 35px;
  border: black;
  cursor: pointer;
}