@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.forgot-password-enter-email-page {
    background-color: #E6E6FA;
    height: 85vh;
    display: flex;
}

.forgot-password-enter-email-page .enter-email-component {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component {
    padding: 5%;
    width: 80%;
    height: 90%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1), 0 2px 30px rgba(0, 0, 0, 0.1);
    padding-top: 15%;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .forgot-password-text {
    font-size: 200%;
    font-family: 'ABeeZee', sans-serif;
    color: #F25019;
    margin-bottom: 3%;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .enter-email-address-text {
    font-size: 200%;
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .email-form {
    display: flex;
    flex-direction: column;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .email-form .label-email {
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .email-form .label-email .email-input {
    margin-top: 10px;
    border-style: none;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .email-form .label-email .email-input::placeholder {
    color: #BCBEC0;
    position: relative;
    font-family: 'Questrial', sans-serif;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .email-form .submit-button {
    background-color: #F25019;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 150%;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .lower-text {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .lower-text .starting-text {
    color: #2A1E17;
    font-family: 'Questrial', sans-serif;
    font-size: 120%;
}

.forgot-password-enter-email-page .enter-email-component .inner-enter-email-component .lower-text .register-text {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    color: #2A1E17;
}

.forgot-password-enter-email-page .picture-component {
    width: 50%;
    display: flex;
}

.forgot-password-enter-email-page .picture-component .character-image {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.forgot-password-enter-email-page .picture-component .cactus-image {
    height: 70%;
    width: 80%;
    position: relative;
    right: 21%;
    top: 10%;
}