@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.forgot-password-enter-otp-page {
    background-color: #E6E6FA;
    height: 85vh;
    display: flex;
}

.forgot-password-enter-otp-page .enter-otp-component {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component {
    padding: 5%;
    width: 80%;
    height: 90%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1), 0 2px 30px rgba(0, 0, 0, 0.1);
    padding-top: 15%;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component .otp-verification-text {
    font-size: 200%;
    font-family: 'ABeeZee', sans-serif;
    color: #F25019;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component .enter-otp-text {
    font-size: 200%;
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component .otp-form {
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component .otp-form .otp-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component .otp-form .between-text {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component .otp-form .between-text .question-text {
    color: #ABABAB;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component .otp-form .between-text .resend-text {
    color: #E85C4D;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component .otp-form .otp-input-container .otp-input {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border-style: none;
    text-align: center;
    font-size: 20px;
}

.forgot-password-enter-otp-page .enter-otp-component .inner-enter-otp-component .otp-form .submit-button {
    background-color: #F25019;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 150%;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 30px;
}

.forgot-password-enter-otp-page .picture-component {
    width: 50%;
    display: flex;
}

.forgot-password-enter-otp-page .picture-component .character-image {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.forgot-password-enter-otp-page .picture-component .cactus-image {
    height: 70%;
    width: 80%;
    position: relative;
    right: 21%;
    top: 10%;
}