@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@600&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
.poppins-semibold {
  font-family: "Poppins", sans-serif;
 
  font-style: normal;
}


.top-home-page{
 display: flex;
 flex-direction: row;
 background-color: #E6E6FA;
}
.top-home-page .left-home{
display: flex;
flex-direction: column;
margin-left: 7.8%;
margin-top: 4%;

}

.top-home-page .right-home{
 display: flex;
 flex-direction: row;
 margin-top: 4.18%;
}

.top-home-page .left-home .uppertext{
    margin-right: 2%;
    
}

.top-home-page .left-home .uppertext .spantext{
    margin-right: 3%;
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
    
}

.top-home-page .left-home .heading-home{
    margin: 0px;
}
.top-home-page .left-home .heading-home .heading-text{
    margin-right: 5px;
    width: 608px;
    height: 155px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 24px;
    margin-top: 53px;

}
.top-home-page .left-home .subheading-home{
    margin-right: 5px;

}
.top-home-page .left-home .subheading-home .subheading-text{    
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 5%;
    width: 300px;
}

.top-home-page .left-home .home-buttons{
    margin-right: 5px;
    margin-top: 5%;

}
.top-home-page .left-home .home-buttons .btn1{
    margin-right: 5%;
    width: 160px;
    height: 48px;
    padding: 12px;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    background-color: #3498DB;
    color: white;
    border-radius: 8px;
    border-style: none;
    line-height: 24px;
    

}
.top-home-page .left-home .home-buttons .btn2{
    margin: 0px;
    width: 160px;
    height: 48px;
    border-radius: 8px;
    padding: 12px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: #2ECC71;
    border-style: none;
    line-height: 24px;
    

}
.top-home-page .right-home .image-right{
    margin: 0px;
}
.top-home-page .right-home .image-right img{
    margin-right: 25px;
   
    height: 94%;
    margin-left: 25%;
}